#head {
    background: #313230;
    -moz-border-radius-topright: 10px;
    border: 0;
    margin: 10px auto 0 auto;
    padding: 5px 30px;
}
#content {
    padding: 20px;
    background: #fff url(gradient.png) repeat-x 0 -28px;
}
body {
    background-color: lightblue;
    color: #333;
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    margin: 0px;
}
h1 {
    color: white;
    font-size: 25px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2 {
    background-image: linear-gradient(
            white, rgb(221, 221, 221)
    );
    border-bottom: 1px solid;
    border-color: #ddd;
    margin-bottom: 0px;
    margin-top: 0px;

    padding: 0px 10px;
}
p {
    padding: 0px 10px;
}
#navigation {
    background: #434A48;
    color: #fff;
    padding: 10px 30px;
}
#navigation .active {
    background: #687370;
}
#navigation a:hover {
    background: #232323;
}
#navigation > li {
    display: inline;
    margin: 0;
}
#navigation > li > span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: bold;
}
#navigation > li > span, #navigation > li > a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: bold;
}
ul {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
    margin-left: 30px;
}
#navigation span {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#navigation a {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    color: white;
    text-decoration: underline;
    cursor: auto;
}
.box {
    background: #fff;
    border: 1px solid;
    padding: 5px 0px;
    background: #fff;
    border-color: #eee;
    margin-bottom: 10px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
table {
    width: 100%;
}
th, td {
    padding: 7px 15px;
    text-align: left;
    color: #333;
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    background-image: linear-gradient(
            rgb(250, 250, 250), rgb(255, 255, 255)
    );
}
#foot {
    background: #313230;
    -moz-border-radius-topright: 10px;
    border: 0;
    margin: 10px auto 0 auto;
    padding: 5px 30px;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
