/* popup window*/
.ontop {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: #636363;
    color: #aaaaaa;
    opacity: .4;
    filter: alpha(opacity = 50);
}
#popup {
    width: 250px;
    height: 100px;
    position: absolute;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    top: 50%;
    left: 50%;

    margin-left: -125px;
    margin-top: -50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#popupchild {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;

}
/*****/

#head {
    background: #313230;
    -moz-border-radius-topright: 10px;
    border: 0;
    margin: 10px auto 0 auto;
    padding: 5px 30px;
}
#content {
    padding: 20px;
    background: #fff /*url(gradient.png)*/ repeat-x 0 -28px;
}
body {
    background-color: lightblue;
    color: #333;
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    margin: 0px;
}
h1 {
    color: white;
    font-size: 25px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2 {
    background-image: linear-gradient(
            white, rgb(221, 221, 221)
    );
    border-bottom: 1px solid;
    border-color: #ddd;
    margin-bottom: 0px;
    margin-top: 0px;

    padding: 0px 10px;
}
p {
    padding: 0px 10px;
}
#navigation {
    background: #434A48;
    color: #fff;
    padding: 10px 30px;
}
#navigation .active {
    background: #687370;
}
#navigation a:hover {
    background: #232323;
}
#navigation > li {
    display: inline;
    margin: 0;
}
#navigation > li > span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: bold;
}
#navigation > li > span, #navigation > li > a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-weight: bold;
}
ul {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
    margin-left: 30px;
}
#navigation span {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#navigation a {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    color: white;
    text-decoration: underline;
    cursor: auto;
}
.box {
    background: #fff;
    border: 1px solid;
    padding: 5px 0px;
    background: #fff;
    border-color: #eee;
    margin-bottom: 10px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
table {
    width: 100%;
}
th, td {
    padding: 7px 15px;
    text-align: left;
    color: #333;
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    background-image: linear-gradient(
            rgb(250, 250, 250), rgb(255, 255, 255)
    );
}
#foot {
    background: #313230;
    -moz-border-radius-topright: 10px;
    border: 0;
    margin: 10px auto 0 auto;
    padding: 5px 30px;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* switch */
label.input-toggle {
    line-height: 0;
    font-size: 0;
    display: inline-block;
    margin: 0;
}

label.input-toggle > span {
    display: inline-block;
    position: relative;
    background-image: -webkit-linear-gradient(left, #848484 0%, #848484 50%, #7cbcbf 50%, #7cbcbf 100%);
    background-image: linear-gradient(to right, #848484 0%, #848484 50%, #7cbcbf 50%, #7cbcbf 100%);
    background-size: 64px 14px;
    background-position: 0%;
    border-radius: 32px;
    width: 32px;
    height: 14px;
    cursor: pointer;
    -webkit-transition: background-position 0.2s ease-in;
    transition: background-position 0.2s ease-in;
}

label.input-toggle > input:checked + span { background-position: -100%; }

label.input-toggle > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #F1F1F1;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
    transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
    transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
    transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
}

label.input-toggle > input:checked + span:after {
    left: calc(100% - 18px);
    background-color: #1D8B90;
}

label.input-toggle > span:active:after {
    -webkit-transform: translateY(-50%) scale3d(1.15, 0.85, 1);
    transform: translateY(-50%) scale3d(1.15, 0.85, 1);
}

label.input-toggle > input:disabled + span:active:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

label.input-toggle > input:disabled + span { cursor: default; }

label.input-toggle > input:disabled + span { background: #D5D5D5; }

label.input-toggle > input:disabled + span:after { background: #BDBDBD; }

label.input-toggle > input {
    display: block;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
